<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Registrar a tu hijo de Kinemo</mat-card-title>
    <mat-card-subtitle>
      Complete la información para registrar a tu hijo.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>ID del padre</mat-label>
        <input matInput formControlName="parentId" />

        @if (form.controls.parentId.hasError('required')) {
          <mat-error>Ingrese su identificador.</mat-error>
        }
        @if (form.controls.parentId.hasError('pattern')) {
          <mat-error>El identificador no puede contener solo espacios.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre del niño</mat-label>
        <input matInput formControlName="firstName" />

        @if (form.controls.firstName.hasError('required')) {
          <mat-error>Ingrese el nombre del niño.</mat-error>
        }
        @if (form.controls.firstName.hasError('pattern')) {
          <mat-error>El nombre no puede contener solo espacios.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido del niño</mat-label>
        <input matInput formControlName="lastName" />

        @if (form.controls.lastName.hasError('required')) {
          <mat-error>Ingrese el apellido del niño.</mat-error>
        }
        @if (form.controls.lastName.hasError('pattern')) {
          <mat-error>El apellido no puede contener solo espacios.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento del niño</mat-label>
        <input matInput formControlName="birthDate" />

        @if (form.controls.birthDate.hasError('required')) {
          <mat-error>Ingrese la fecha de nacimiento del niño.</mat-error>
        }
        @if (form.controls.birthDate.hasError('invalidDate')) {
          <mat-error>Ingrese una fecha válida.</mat-error>
        }
        @if (form.controls.birthDate.hasError('futureDate')) {
          <mat-error>La fecha de nacimiento no puede ser futura.</mat-error>
        }
      </mat-form-field>

      <button mat-flat-button type="submit">
        <mat-icon>save</mat-icon>
        Registrar niño
      </button>

    </form>
  </mat-card-content>
</mat-card>
